.landing {
  text-align: center;
  background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-shopping-mall-supermarket-selection-merchandise-poster-background-material-image_133225.jpg');
  background-size: cover;  /* Ensures the image covers the full area */
  background-repeat: no-repeat;  /* Prevents repeating */
  background-position: center;  /* Centers the image */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
